CycleGAN/test.py
simple-audio-recognition/tensorflow-speech-recognition-challenge.zip
simple-audio-recognition/tensorflow-speech-recognition-challenge/
simple-audio-recognition/working/
generate-music-CVAE/
CycleGAN/transformed
cvae/training_checkpoints/
openai-chatbot/auth.json
discord-gpt/auth.json
openai-image-generation/auth.json
discord-gpt/yt
music-recommendation/auth.json
music-recommendation/data